{% trans_default_domain 'FOSUserBundle' %}

<div class="container_user_user_show">
    <div class="fos_user_user_show">
      {{ form_start(form,{ 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
      	<div class="user_status">
      		<div class="PNEdit">{{ form_widget(form.prenom) }} {{ form_widget(form.nom) }}</div>
      		<div class="untitle_status">
                  <p>Rôle:

      					<div class="">
      					   form_widget(form) }
      					</div>

                  </p>
      		</div>
      	</div>
        <div class="box_profil_user">
            <div class="box_email">
                <p>Adresse email: {{ form_widget(form.email) }}</p>
            </div>
            <div class="box_password">
                <p>Mot de passe: {{ form_widget( form.current_password ) }}</p>
            </div>
            <div class="box_btn">
                <div class="btn_Mdepasse">
                    <a href={{ path('fos_user_change_password') }}>Changer mon mot de passe</a>
                </div>
                <div class="btn_edit">
                    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                </div>
            </div>
        </div>
      {{ form_end(form) }}
    </div>
</div>







<!--{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
     {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}-->
