{% trans_default_domain 'FOSUserBundle' %}
<div class="container_user_user_show">
    <div class="fos_user_user_show shadow">
      {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        <div class="box_profil_user">
            <div class="box_password">
                {{ form_widget( form.current_password ) }}
                <label for="{{ form.current_password.vars.id }}"
                class="{{ form.current_password.vars.required ? 'required' : '' }} custom_label">
                Mot de passe actuel:
                </label>
                <span class="border"></span>
            </div>
            <div class="box_password">
                {{ form_widget( form.plainPassword.first ) }}
                <label for="{{ form.plainPassword.first.vars.id }}"
                class="{{ form.plainPassword.first.vars.required ? 'required' : '' }} custom_label">
                Nouveau mot de passe:
                </label>
            </div>
            <div class="box_password">
                {{ form_widget( form.plainPassword.second ) }}
                <label for="{{ form.plainPassword.second.vars.id }}"
                class="{{ form.plainPassword.second.vars.required ? 'required' : '' }} custom_label">
                Confirmation du mot de passe:
                </label>
            </div>
            <div class="box_btn">
                <div class="btn_edit">
                    <input type="submit" value="Enregistrer" />
                </div>
            </div>
        </div>
      {{ form_end(form) }}
    </div>
</div>


<!--{#{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }#}
    {#{ form_widget(form) }#}
    <div>
        <input type="submit" value="{#{ 'change_password.submit'|trans }#}" />
    </div>
{{ form_end(form) }}-->
