{% trans_default_domain 'FOSUserBundle' %}
<div class="container_user_user_show">
    <div class="fos_user_user_show">
      {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        <div class="box_profil_user">
            <div class="box_password">
                <p>Mot de passe: {{ form_widget( form.current_password ) }}</p>
            </div>
            <div class="box_password">
                <span>Nouveau mot de passe:</span> {{ form_widget( form.plainPassword ) }}
            </div>
            <div class="box_password">
                <p>Confirmation nouveau mot de passe: <input type="text" name="" value=""></p>
            </div>
            <div class="box_btn">
                <div class="btn_edit">
                    <input type="submit" value="Enregistrer" />
                </div>
            </div>
        </div>
      {{ form_end(form) }}
    </div>
</div>


<!--{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}-->
