{% extends 'FOSUserBundle::layout.html.twig' %}

{% block job_hunter %}

            <div class="form_newflux">

                <h1 class="titrePage">Ajouter un demandeur d'emploi</h1>

                {{ form_start(edit_form) }}                
                <div class="NewFlux">

                <!-- Colonne Gauche du Formulaire -->

                <div class="formLeft">
                
                    <!--photo-->
                    <div class="photo_edit fallback">
                        {{ form_widget(edit_form.imageFile) }}
                    </div>
                    <!-- Titre Etat Civil-->
                    <h3 class="titreForm">Etat Civil</h3>

                    <!--nom-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.nom) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.nom) }}
                        </div>
                    </div>

                    <!--prénom-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.prenom) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.prenom) }}
                        </div>
                    </div>

                    <!--genre-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.genre) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.genre) }}
                        </div>
                    </div> 

                     <!--status-->
                    <div class="form-group">
                        {{ form_label(edit_form.status) }}
                        {{ form_widget(edit_form.status) }}
                    </div> 

                    <!--Référent FACE-->
                    <div class="form-group">
                        {{ form_label(edit_form.facien) }}
		                {{ form_widget(edit_form.facien,{ 'attr': {'disabled':true, 'value':user, class:'' }}) }}
                    </div>
                
                    <!--Tranche d'age-->
                    {#<div class="form-group">
                        <select class="form-control selectpicker" title="Tranche d'âge">
                            <option>Moins de 25 ans</option>
                            <option>Entre 25 et 49 ans</option>
                            <option>50 ans et plus</option>
                        </select>
                    </div>#}

                    <!--Date de naissance-->
                    <div class="form-group">
                        {{ form_label(edit_form.dateNaissance) }}
                        {{ form_widget(edit_form.dateNaissance) }}
                    </div>

                    <!--Ville de naissance-->
                    <div class="form-group disable">
                        {{ form_label(edit_form.villeNaissance) }}
                        {{ form_widget(edit_form.villeNaissance) }}
                    </div>

                    <!--Dépt. de naissance-->
                    <div class="form-group disable">
                        {{ form_label(edit_form.deptNaissance) }}
                        {{ form_widget(edit_form.deptNaissance) }}
                    </div>

                    <!--Pays de naissance-->
                    <div class="form-group disable">
                        {{ form_label(edit_form.paysNaissance) }}
                        {{ form_widget(edit_form.paysNaissance) }}
                    </div>

                    <!--Nationalité-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.nationalite) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.nationalite) }}
                        </div>
                    </div>

                    <!--Titre de séjour-->
                    <div class="form-group disable">
                        {{ form_label(edit_form.titreSejour) }}
                        {{ form_widget(edit_form.titreSejour) }}
                    </div>

                    <!--Autorisation de travailler-->
                    <div class="form-group disable">
                        {{ form_label(edit_form.autorisationTravail) }}
                        {{ form_widget(edit_form.autorisationTravail) }}
                    </div>

                    <!--Nombre d'enfants-->
                    <div class="form-group">
                        {{ form_label(edit_form.enfant) }}
                        {{ form_widget(edit_form.enfant) }}
                    </div>

                </div> <!-- End Colonne Gauche du Formulaire -->



                <!-- Colonne de milieu du Formulaire -->
                <div class="formLeft">

                    <!-- Titre Coordonnées-->
                    <h3 class="titreForm col-lg-12 col-md-12">Coordonnées</h3>

                    <!--Adresse-->
                    <div class="form-group">
                        {{ form_label(edit_form.adresse) }}
                        {{ form_widget(edit_form.adresse) }}
                    </div>


                    <!--Code postale-->
                    <div class="form-group disable">
                        {{ form_label(edit_form.codePostal) }}
                        {{ form_widget(edit_form.codePostal) }}
                    </div>


                    <!--Ville-->
                    <div class="form-group">
                        {{ form_label(edit_form.ville) }}
                        {{ form_widget(edit_form.ville) }}
                    </div>


                    <!--Tél mobile-->
                    <div class="form-group">
                        {{ form_label(edit_form.telPortable) }}
                        {{ form_widget(edit_form.telPortable) }}
                    </div>


                    <!--Tél fixe-->
                    <div class="form-group">
                        {{ form_label(edit_form.telFixe) }}
                        {{ form_widget(edit_form.telFixe) }}
                    </div>


                    <!--Email-->
                    <div class="form-group">
                        {{ form_label(edit_form.email) }}
                        {{ form_widget(edit_form.email) }}
                    </div>


                    <!-- Telecharger un document-->
                   <!-- <div class="form-group">
                        <label for="uploadFile">Télécharger un document</label>
                        <input type="file" id="uploadFile">
                    </div>-->


                    <!-- Titre Ressources-->
                    <h3 class="titreForm">Ressources</h3>

                    <!--ID poleEmploi-->
                    <div class="form-group">
                        {{ form_label(edit_form.idPoleEmploi) }}
                        {{ form_widget(edit_form.idPoleEmploi) }}
                    </div>


                    <!--Référent P-E-->
                    <div class="form-group">
                        {{ form_label(edit_form.referent) }}
                        {{ form_widget(edit_form.referent) }}
                    </div>

                    <!--Structure-->
                    <div class="form-group">
                        {{ form_label(edit_form.structure) }}
                        {{ form_widget(edit_form.structure) }}
                    </div>



                    <!--Allocations-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.allocation) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.allocation) }}
                        </div>
                    </div>


                    <!--si autre allocation-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.allocationAutre) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.allocationAutre) }}
                        </div>
                    </div>


                    <!--RQTH-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.rqth) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.rqth) }}
                        </div>
                    </div>


                    <!--QPV-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.QPV) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.QPV) }}
                        </div>
                    </div>

                    <!--Nom QPV-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.QPVNom) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.QPVNom) }}
                        </div>
                    </div>

                </div><!-- End Colonne milieu du Formulaire -->

                <!-- Colonne de droite du Formulaire -->               
                <div class="formLeft">
                    <!-- Titre Formation et Métier-->
                    <h3 class="titreForm">Formation et Métier</h3>

                    <!--Niveau d'études-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.niveauEtude) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.niveauEtude) }}
                        </div>
                    </div>


                    <!--Catégorie sociopro-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.categorieSocioPro) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.categorieSocioPro) }}
                        </div>
                    </div>


                    <!--Diplôme professionnel-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.diplomePro) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.diplomePro) }}
                        </div>
                    </div>


                    <!--Métier-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.metier) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.metier) }}
                        </div>
                    </div>


                    <!-- Expérience-->
                    <h3 class="titreForm">Expérience</h3>

                    <!--Durée-->
                    {#<select class="selectpicker" multiple title="Expérience..">
                        <option>0</option>
                        <option>Moins de 1 ans</option>
                        <option>1 à 3 ans</option>
                        <option>3 à 5 ans</option>
                        <option>5 ans et plus</option>
                    </select>#}

                    <!--Dernier poste : entreprise-->
                    {#<div class="form-group">
                        <label for="dPoste"></label>
                        <input type="text" class="form-control" id="dPoste" placeholder="Dernier poste occupé ..">
                    </div>#}


                    <!--Permis-->
                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.permisConduire) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.permisConduire) }}
                        </div>
                    </div>

                    <div class="form-group inline">
                        <div class="left">
                            {{ form_label(edit_form.typePermisConduire) }}
                        </div>
                        <div class="right">
                            {{ form_widget(edit_form.typePermisConduire) }}
                        </div>
                    </div>


                    <!--Moyen de locomation-->
                    <div class="form-group">
                        {{ form_label(edit_form.moyenLocomotion) }}
                        {{ form_widget(edit_form.moyenLocomotion) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.moyenLocomotionAutre) }}
                        {{ form_widget(edit_form.moyenLocomotionAutre) }}
                    </div>


                    <!--Commentaire-->
                    <div class="form-group">
                        {{ form_label(edit_form.description) }}
                        {{ form_widget(edit_form.description) }}
                    </div>

                    
                </div><!-- End Colonne Droite du Formulaire -->

                  <!-- VALIDER / ANNULER le formulaire -->
                  <div class="formLeft">
                        <!--Annuler-->
                        {#<div class="">
                            <a href=""><div type="button" class="btn-edit">Annuler</div></a>
                        </div>#}

                        <!--Valider-->
                        <div class="">
                            {{ form_widget(edit_form) }}
                                <input type="submit" value="Éditer" class="btn-edit"/>
                            {{ form_end(edit_form) }}
                        </div>
                        <ul>
                            <li>
                                <a href="{{ path('demandeur_index') }}"><div type="submit" value="Retour à la liste" class="btn-edit">Retour à la liste</div></a>
                            </li>
                            <li>
                                {{ form_start(delete_form) }}
                                    <div type="submit" value="Supprimer" class="btn-edit">Supprimer</div>
                                {{ form_end(delete_form) }}
                            </li>
                        </ul>
                  </div>
                
                </div>
                {{ form_end(edit_form) }}
                
            </div>

    {#{{ form_start(edit_form) }}
     <div class="bloc_form facien">
		{{ form_label(form.facien) }}
		{{ form_widget(form.facien,{ 'attr': {'disabled':true, 'value':user, class:'' }}) }}
	</div>
	{{ form_widget(edit_form) }}
        <input type="submit" value="Éditer" />
    {{ form_end(edit_form) }}#}

{% endblock %}
