{% extends 'FOSUserBundle::layout.html.twig' %}

{% block job_hunter %}

{{ form_start(edit_form, {'attr': { 'class':'form_flux','ng-controller':'effect' }}) }}
    <section id="step_one" class= "register_flux">


        <div class="column_1 ">

            <h1 style='display: none'>Demandeur creation</h1>
            <div class="header_form">
                <h4>Action :</h4>
                <div class="inner_header_form shadow">
                    <div class="block_action">
                        <div class="indice_status">
                            <label for="{{ edit_form.status.vars.id }}"
                            class="{{ edit_form.status.vars.required ? 'required' : '' }} spanMarginRight">
                            Profil:
                            </label>
                        </div>
                        <div class="detail_status container_select">
                            {{ form_widget(edit_form.status, {'attr':{'class':'custom_select'}})}}
                        </div>
                    </div>
                    <div class="bloc_form_facien">
                        <div class="indice_facien">
                            <label for="{{ edit_form.facien.vars.id }}"
                            class="{{ edit_form.facien.vars.required ? 'required' : '' }} spanMarginRight">
                            Facien(ne):
                            </label>
                        </div>
                        <div class="detail_facien">
                            {{ form_widget(edit_form.facien,{ 'attr': {'disabled':true, 'value':user, class:'' }}) }}
                        </div>
                    </div>
                </div>
            </div>

            <h4>État civile :</h4>
            <div class="block etat_civil">
                <div class="block_sub">

                    <div class="bloc_form prenom margbloc">
                        {{ form_widget(edit_form.prenom,{ 'attr': {'class': ""}}) }}
                        <label for="{{ edit_form.prenom.vars.id }}"
                        class="{{ edit_form.prenom.vars.required ? 'required' : '' }} custom_label ">
                        Prénom
                        </label>
                        <span class="border"></span>
                    </div>
                    <div class="bloc_form nom margbloc">
                        {{ form_widget(edit_form.nom,{ 'attr': {'class': ""}}) }}
                        <label for="{{ edit_form.nom.vars.id }}"
                        class="{{ edit_form.nom.vars.required ? 'required' : '' }} custom_label ">
                        Nom
                        </label>
                        <span class="border"></span>
                    </div>

                    <div class="bloc_form genre margbloc">
                        <div class="indice_genre">
                            <label for="{{ edit_form.nom.vars.id }}"
                            class="{{ edit_form.nom.vars.required ? 'required' : '' }}">
                            Genre:
                            </label>
                        </div>
                        <div class="detail_genre">
                            {{ form_widget(edit_form.genre, {'attr':{'class':'custom_select'}}) }}
                        </div>
                    </div>

                    <div class="bloc_form adress_email margbloc">
                        {{ form_widget(edit_form.email,{ 'attr': {'class': ""}}) }}
                        <label for="{{ edit_form.email.vars.id }}"
                        class="{{ edit_form.email.vars.required ? 'required' : '' }} custom_label ">
                        Adresse email
                        </label>
                        <span class="border"></span>
                    </div>

                </div>
                <div class="block_sub">
                    <div class="bloc_form naissance">
                        <div class="indice_date">
                            {{ form_label(edit_form.dateNaissance) }}
                        </div>
                        <div class="entry_date">
                            {{ form_widget(edit_form.dateNaissance) }}
                        </div>
                    </div>
                    <div class="bloc_form enfant">
                        <div class="indice_enfant">
                            {{ form_label(edit_form.enfant) }}
                        </div>
                        <div class="entry_enfant">
                            {{ form_widget(edit_form.enfant) }}
                        </div>
                    </div>
                    <div class="bloc_form paysN margbloc">
                        {{ form_widget(edit_form.paysNaissance,{ 'attr': {'required':'','class': ""}}) }}
                        <label for="{{ edit_form.paysNaissance.vars.id }}"
                        class="{{ edit_form.paysNaissance.vars.required ? 'required' : '' }} custom_label ">
                        Pays naissance
                        </label>
                        <span class="border"></span>
                    </div>
                    <div class="bloc_form deptNaissance disable">
                        {{ form_widget(edit_form.deptNaissance,{ 'attr': {'placeholder': "Département"}}) }}
                        {{ form_label(edit_form.deptNaissance) }}
                    </div>
                    <div class="bloc_form villeN disable">
                        {{ form_widget(edit_form.villeNaissance) }}
                        {{ form_label(edit_form.villeNaissance) }}
                    </div>

                    <div class="bloc_form titreSejour disable">
                        {{ form_label(edit_form.titreSejour) }}
                        {{ form_widget(edit_form.titreSejour) }}
                    </div>
                    <div class="bloc_form nationalite margbloc">
                        {{ form_widget(edit_form.nationalite,{ 'attr': {}}) }}
                        <label for="{{ edit_form.nationalite.vars.id }}"
                        class="{{ edit_form.nationalite.vars.required ? 'required' : '' }} custom_label ">
                        Nationalité
                        </label>
                        <span class="border"></span>
                    </div>
                </div>
            </div>

            <div class="block coordonne">
                <div class="block_sub">
                    <div class="header_adresse">
                        <div class="inner_header_adresse">
                            <div class="bloc_form qpv">
                                <div class="indice_qpv">
                                    <label for="{{ edit_form.QPV.vars.id }}"
                                    class="{{ edit_form.QPV.vars.required ? 'required' : '' }}">
                                    Quatier prioritaire de la ville?
                                </label>
                                </div>
                                <div class="detail_qpv">
                                    {{ form_widget(edit_form.QPV,{'attr':{'class': 'inputQPV'}}) }}
                                </div>
                            </div>
                            <div class="bloc_form qpvnom child" >
                                <div class="indice_qpvnom">
                                    {{ form_label(edit_form.QPVNom) }}
                                </div>
                                <div class="detail_qpvnom">
                                    {{ form_widget(edit_form.QPVNom,{'attr':{'placeholder': "Quatier"}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bloc_form adresse margbloc">
                        {{ form_widget(edit_form.adresse,{'attr':{}}) }}
                        <label for="{{ edit_form.adresse.vars.id }}"
                        class="{{ edit_form.adresse.vars.required ? 'required' : '' }} custom_label ">
                        Adresse
                    </label>
                    <span class="border"></span>
                    </div>
                    <div class="bloc_form codePostal margbloc">
                        {{ form_widget(edit_form.codePostal,{'attr':{}}) }}
                        <label for="{{ edit_form.codePostal.vars.id }}"
                        class="{{ edit_form.codePostal.vars.required ? 'required' : '' }} custom_label ">
                        Code postal
                        </label>
                        <span class="border"></span>
                    </div>
                    <div class="bloc_form ville margbloc">
                        {{ form_widget(edit_form.ville,{'attr':{}}) }}
                        <label for="{{ edit_form.ville.vars.id }}"
                        class="{{ edit_form.ville.vars.required ? 'required' : '' }} custom_label ">
                        Ville
                        </label>
                        <span class="border"></span>
                    </div>
                    <div class="bloc_form telFixe margbloc">
                        {{ form_widget(edit_form.telFixe,{'attr':{}}) }}
                        <label for="{{ edit_form.telFixe.vars.id }}"
                        class="{{ edit_form.telFixe.vars.required ? 'required' : '' }} custom_label ">
                        Téléphone fixe
                        </label>
                        <span class="border"></span>
                    </div>
                    <div class="bloc_form telPortable margbloc">
                        {{ form_widget(edit_form.telPortable,{'attr':{}}) }}
                        <label for="{{ edit_form.telPortable.vars.id }}"
                        class="{{ edit_form.telPortable.vars.required ? 'required' : '' }} custom_label ">
                        Numéro du portable
                        </label>
                        <span class="border"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class ="column_2">
            <h4>Mobilité :</h4>
            <div class="block_sub_ mobilite">
                <div class="box_locomotion">
                    <div class="permis bloc_form">
                        <div class="indice_permisC">
                            {{ form_label(edit_form.permisConduire) }}
                        </div>
                        <div class="detail_permisC">
                            {{ form_widget(edit_form.permisConduire) }}
                        </div>
                    </div>
                    <div class="type bloc_form typePermis margbloc">
                        {{ form_widget(edit_form.typePermisConduire) }}
                        <label for="{{ edit_form.typePermisConduire.vars.id }}"
                        class="{{ edit_form.typePermisConduire.vars.required ? 'required' : '' }} custom_label ">
                        Type de permis?
                        </label>
                        <span class="border"></span>
                    </div>
                </div>
                <div class="box_locomotion">
                    <div class="type bloc_form moyenL">
                        <div class="indice_moyenL">
                            <label for="{{ edit_form.moyenLocomotion.vars.id }}"
                            class="{{ edit_form.moyenLocomotion.vars.required ? 'required' : '' }} ">
                            Moy. de transport:
                            </label>
                        </div>
                        <div class="detail_moyenL">
                            {{ form_widget(edit_form.moyenLocomotion,{'attr':{'class':'custom_select'}}) }}
                        </div>
                    </div>
                    <div class="type bloc_form autreM margbloc">
                        {{ form_widget(edit_form.moyenLocomotionAutre) }}
                        <label for="{{ edit_form.moyenLocomotionAutre.vars.id }}"
                        class="{{ edit_form.moyenLocomotionAutre.vars.required ? 'required' : '' }} custom_label ">
                        Autre
                        </label>
                        <span class="border"></span>
                    </div>
                </div>
            </div>
            <h4>Ressource :</h4>
            <div class="block_sub ressource">
                <div class="bloc_form box_ressource margbloc">
                    <div class="id">
                        {{ form_widget(edit_form.idPoleEmploi, {'attr':{}}) }}
                        <label for="{{ edit_form.idPoleEmploi.vars.id }}"
                        class="{{ edit_form.idPoleEmploi.vars.required ? 'required' : '' }} custom_label ">
                        Id. Pôle Emploi
                        </label>
                        <span class="border"></span>
                    </div>
                    <div class="referent">
                        {{ form_widget(edit_form.referent, {'attr':{}}) }}
                        <label for="{{ edit_form.referent.vars.id }}"
                        class="{{ edit_form.referent.vars.required ? 'required' : '' }} custom_label ">
                        Référent Pôle Emploi
                        </label>
                        <span class="border"></span>
                    </div>
                </div>
                <div class="bloc_form box_ressource">
                    <div class="autorisationTravail inline">
                        <div class="indice_autorisationTr">
                            {{ form_label(edit_form.autorisationTravail) }}
                        </div>
                        <div class="detail_autorisationTr">
                            {{ form_widget(edit_form.autorisationTravail) }}
                        </div>
                    </div>
                    <div class="rqth">
                        <div class="indice_rqth">
                            {{ form_label(edit_form.rqth) }}
                        </div>
                        <div class="detail_rqth">
                            {{ form_widget(edit_form.rqth) }}
                        </div>
                    </div>
                </div>
                <div class="bloc_form box_ressource">
                    <div class="alloc">
                        <div class="incide_allo">
                            <label for="{{ edit_form.allocation.vars.id }}"
                            class="{{ edit_form.allocation.vars.required ? 'required' : '' }} ">
                            Allocation:
                            </label>
                        </div>
                        <div class="detail_allo">
                            {{ form_widget(edit_form.allocation,{'attr': {'class':'custom_select'}}) }}
                        </div>
                    </div>
                    <div class="allocAutre margbloc">
                        {{ form_widget(edit_form.allocationAutre, {'attr':{}}) }}
                        <label for="{{ edit_form.allocationAutre.vars.id }}"
                        class="{{ edit_form.allocationAutre.vars.required ? 'required' : '' }} custom_label ">
                        Autre allocation
                        </label>
                        <span class="border"></span>
                    </div>
                </div>
                <div class="bloc_form box_ressource">
                    <div class="structure margbloc">
                        {{ form_widget(edit_form.structure, {'attr':{}}) }}
                        <label for="{{ edit_form.structure.vars.id }}"
                        class="{{ edit_form.structure.vars.required ? 'required' : '' }} custom_label ">
                        Structure
                        </label>
                        <span class="border"></span>
                    </div>
                    <div class="metier margbloc">
                        {{ form_widget(edit_form.metier, {'attr':{}}) }}
                        <label for="{{ edit_form.metier.vars.id }}"
                        class="{{ edit_form.metier.vars.required ? 'required' : '' }} custom_label ">
                        Métier
                        </label>
                        <span class="border"></span>
                    </div>
                </div>
            </div>
            <h4>Formations :</h4>
            <div class="block formation">
                <div class="block_sub">
                    <div class="niveau bloc_form ">
                        <div class="indice_niv font-size: 14px">
                            <label for="{{ edit_form.niveauEtude.vars.id }}"
                            class="{{ edit_form.niveauEtude.vars.required ? 'required' : '' }} nivEtlabel">
                            Niv. d’étude:
                            </label>
                        </div>
                        <div class="detail_niv">
                            {{ form_widget(edit_form.niveauEtude,{'attr': {'class':'custom_select'}})}}
                        </div>
                    </div>

                    <div class="cat_socio bloc_form">
                        <div class="indice_cat_socio">
                            <label for="{{ edit_form.categorieSocioPro.vars.id }}"
                            class="{{ edit_form.categorieSocioPro.vars.required ? 'required' : '' }} cpslabel">
                            CSP:
                            </label>
                        </div>
                        <div class="detail_cat_socio">
                            {{ form_widget(edit_form.categorieSocioPro,{'attr': {'class':'custom_select'}})}}
                        </div>
                    </div>

                    <div class="diplome bloc_form margbloc">
                        {{ form_widget(edit_form.diplomePro)}}
                        <label for="{{ edit_form.diplomePro.vars.id }}"
                        class="{{ edit_form.diplomePro.vars.required ? 'required' : '' }} custom_label ">
                        Diplôme professionel
                        </label>
                        <span class="border"></span>
                    </div>
                </div>
            </div>
        </div>
        <a href="#step_two" class="btnFormNext">
            <span>Étape suivante</span>
        </a>
    </section>
    <section id="step_two">
        <div class="inner_section">
            <div class="content">
                <div class="block_doc bloc_form">

                    {{ form_widget(edit_form.imageFile, {'attr':{'class': 'inputfile'}})}}
                    {{ form_label(edit_form.imageFile)}}
                    <a href="{{ edit_form.diplomePro.vars.id }}">Diplôme professionel</a>
                </div>
                <div class="block_compte_rendu shadow">
                    <div class="bloc1">
                        <span>Compte Rendu:</span>
                    </div>
                    <div class="bloc2">
                        {{ form_widget(edit_form.description) }}
                    </div>
                </div>
                <div class="block_btn">
                    <div class="inner_block_btn">
                        <a href="{{ path('demandeur_index') }}" class="btn_back">
                            <span>Retour à la liste</span>
                        </a>
                        <div class='btn_create'>
                            <input type="submit" value="Valider"/>
                        </div>
                    </div>
                </div>
                <div class="link_back">
                    <a href="#step_one" class="btnFormBack">
                        <span>Étape précédent</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

{{ form_end(edit_form) }}

{% endblock %}
