{% extends 'FOSUserBundle::layout.html.twig' %}

{% block job_hunter %}
    {{ form_start(form) }}
        <h1 style='display: none'>Demandeur creation</h1>
        <div class="column_1 ">
          <div class="block action">

          </div>
          <div class="block etat_civil">
            <div class="block_sub">
              <div class="bloc_form nom">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom,{ 'attr': {'placeholder': "Nom"}}) }}
              </div>
              <div class="bloc_form prenom">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom,{ 'attr': {'placeholder': "Prenom", class:''}}) }}
              </div>
            </div>
            <div class="block_sub">
              <div class="bloc_form naissance">
                {{ form_label(form.dateNaissance) }}
                {{ form_widget(form.dateNaissance,{ 'attr': {'placeholder': "dze"}}) }}
              </div>
              <div class="bloc_form villeN">
                {{ form_label(form.villeNaissance) }}
                {{ form_widget(form.villeNaissance,{ 'attr': {'placeholder': "Ville de naissance"}}) }}
              </div>
              <div class="bloc_form paysN">
                {{ form_label(form.paysNaissance) }}
                {{ form_widget(form.paysNaissance,{ 'attr': {'placeholder': "Pays de Naissance"}}) }}
              </div>
              <div class="bloc_form deptNaissance">
                {{ form_label(form.deptNaissance) }}
                {{ form_widget(form.deptNaissance,{ 'attr': {'placeholder': "Département"}}) }}
              </div>
              <div class="bloc_form nationalite">
                {{ form_label(form.nationalite) }}
                {{ form_widget(form.nationalite,{ 'attr': {'placeholder': "Nationalité"}}) }}
              </div>
              <div class="bloc_form titreSejour">
                {{ form_label(form.titreSejour) }}
                {{ form_widget(form.titreSejour,{ 'attr': {'placeholder': "Nationalité"}}) }}
              </div>
            </div>
          </div>
          <div class="block coordonne">
            <div class="block_sub">
              <div class="bloc_form adresse">
                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse,{'attr':{'placeholder': "Adresse"}}) }}
              </div>
              <div class="bloc_form codePostal">
                {{ form_label(form.codePostal) }}
                {{ form_widget(form.codePostal,{'attr':{'placeholder': "Adresse"}}) }}
              </div>
              <div class="bloc_form codePostal">
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville,{'attr':{'placeholder': "Adresse"}}) }}
              </div>
              <div class="bloc_form codePostal">
                {{ form_label(form.telFixe) }}
                {{ form_widget(form.telFixe,{'attr':{'placeholder': "Numéro du fixe"}}) }}
              </div>
              <div class="bloc_form codePostal">
                {{ form_label(form.telPortable) }}
                {{ form_widget(form.telPortable,{'attr':{'placeholder': "Numéro du portable"}}) }}
              </div>
            </div>
            <div class="ressource">

            </div>
          </div>
          <div class="block formation">

          </div>
          <input type="submit" value="Create" />
        </div>
        <div class ="column_2">
          <div class="block document">

          </div>
        </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('demandeur_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
