{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} | Créer{% endblock %}

{% block job_hunter %}

    {{ form_start(form, {'attr': { 'class':'form_flux','ng-controller':'effect' }}) }}
        <section id="step_one" class= "register_flux">


            <div class="column_1 ">

                <h1 style='display: none'>Demandeur creation</h1>
                <div class="header_form">
                    <h4>Action :</h4>
                    <div class="inner_header_form shadow">
                        <div class="block_action">
                            <div class="indice_status">
                                <label for="{{ form.status.vars.id }}"
                                class="{{ form.status.vars.required ? 'required' : '' }} spanMarginRight">
                                Profil:
                                </label>
                            </div>
                            <div class="detail_status container_select">
                                {{ form_widget(form.status, {'attr':{'class':'custom_select'}})}}
                            </div>
                        </div>
                        <div class="bloc_form_facien">
                            <div class="indice_facien">
                                <label for="{{ form.facien.vars.id }}"
                                class="{{ form.facien.vars.required ? 'required' : '' }} spanMarginRight">
                                Facien(ne):
                                </label>
                            </div>
                            <div class="detail_facien">
                                {{ form_widget(form.facien,{ 'attr': {'disabled':true, 'value':user, class:'' }}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <h4>État civile :</h4>
                <div class="block etat_civil">
                    <div class="block_sub">

                        <div class="bloc_form prenom margbloc">
                            {{ form_widget(form.prenom,{ 'attr': {'class': ""}}) }}
                            <label for="{{ form.prenom.vars.id }}"
                            class="{{ form.prenom.vars.required ? 'required' : '' }} custom_label ">
                            Prénom
                            </label>
                            <span class="border"></span>
                        </div>
                        <div class="bloc_form nom margbloc">
                            {{ form_widget(form.nom,{ 'attr': {'class': ""}}) }}
                            <label for="{{ form.nom.vars.id }}"
                            class="{{ form.nom.vars.required ? 'required' : '' }} custom_label ">
                            Nom
                            </label>
                            <span class="border"></span>
                        </div>

                        <div class="bloc_form genre margbloc">
                            <div class="indice_genre">
                                <label for="{{ form.nom.vars.id }}"
                                class="{{ form.nom.vars.required ? 'required' : '' }}">
                                Genre:
                                </label>
                            </div>
                            <div class="detail_genre">
                                {{ form_widget(form.genre, {'attr':{'class':'custom_select'}}) }}
                            </div>
                        </div>

                        <div class="bloc_form adress_email margbloc">
                            {{ form_widget(form.email,{ 'attr': {'class': ""}}) }}
                            <label for="{{ form.email.vars.id }}"
                            class="{{ form.email.vars.required ? 'required' : '' }} custom_label ">
                            Adresse email
                            </label>
                            <span class="border"></span>
                        </div>

                    </div>
                    <div class="block_sub">
                        <div class="bloc_form naissance">
                            <div class="indice_date">
                                {{ form_label(form.dateNaissance) }}
                            </div>
                            <div class="entry_date">
                                {{ form_widget(form.dateNaissance) }}
                            </div>
                        </div>
                        <div class="bloc_form enfant">
                            <div class="indice_enfant">
                                {{ form_label(form.enfant) }}
                            </div>
                            <div class="entry_enfant">
                                {{ form_widget(form.enfant) }}
                            </div>
                        </div>
                        <div class="bloc_form paysN margbloc">
                            {{ form_widget(form.paysNaissance,{ 'attr': {'required':'','class': ""}}) }}
                            <label for="{{ form.paysNaissance.vars.id }}"
                            class="{{ form.paysNaissance.vars.required ? 'required' : '' }} custom_label ">
                            Pays naissance
                            </label>
                            <span class="border"></span>
                        </div>
                        <div class="bloc_form deptNaissance disable">
                            {{ form_widget(form.deptNaissance,{ 'attr': {'placeholder': "Département"}}) }}
                            {{ form_label(form.deptNaissance) }}
                        </div>
                        <div class="bloc_form villeN disable">
                            {{ form_widget(form.villeNaissance) }}
                            {{ form_label(form.villeNaissance) }}
                        </div>

                        <div class="bloc_form titreSejour disable">
                            {{ form_label(form.titreSejour) }}
                            {{ form_widget(form.titreSejour) }}
                        </div>
                        <div class="bloc_form nationalite margbloc">
                            {{ form_widget(form.nationalite,{ 'attr': {}}) }}
                            <label for="{{ form.nationalite.vars.id }}"
                            class="{{ form.nationalite.vars.required ? 'required' : '' }} custom_label ">
                            Nationalité
                            </label>
                            <span class="border"></span>
                        </div>
                    </div>
                </div>

                <div class="block coordonne">
                    <div class="block_sub">
                        <div class="header_adresse">
                            <div class="inner_header_adresse">
                                <div class="bloc_form qpv">
                                    <div class="indice_qpv">
                                        <label for="{{ form.QPV.vars.id }}"
                                        class="{{ form.QPV.vars.required ? 'required' : '' }}">
                                        Quatier prioritaire de la ville?
                                    </label>
                                    </div>
                                    <div class="detail_qpv">
                                        {{ form_widget(form.QPV,{'attr':{'class': 'inputQPV'}}) }}
                                    </div>
                                </div>
                                <div class="bloc_form qpvnom child" >
                                    <div class="indice_qpvnom">
                                        {{ form_label(form.QPVNom) }}
                                    </div>
                                    <div class="detail_qpvnom">
                                        {{ form_widget(form.QPVNom,{'attr':{'placeholder': "Quatier"}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bloc_form adresse margbloc">
                            {{ form_widget(form.adresse,{'attr':{}}) }}
                            <label for="{{ form.adresse.vars.id }}"
                            class="{{ form.adresse.vars.required ? 'required' : '' }} custom_label ">
                            Adresse
                        </label>
                        <span class="border"></span>
                        </div>
                        <div class="bloc_form codePostal margbloc">
                            {{ form_widget(form.codePostal,{'attr':{}}) }}
                            <label for="{{ form.codePostal.vars.id }}"
                            class="{{ form.codePostal.vars.required ? 'required' : '' }} custom_label ">
                            Code postal
                            </label>
                            <span class="border"></span>
                        </div>
                        <div class="bloc_form ville margbloc">
                            {{ form_widget(form.ville,{'attr':{}}) }}
                            <label for="{{ form.ville.vars.id }}"
                            class="{{ form.ville.vars.required ? 'required' : '' }} custom_label ">
                            Ville
                            </label>
                            <span class="border"></span>
                        </div>
                        <div class="bloc_form telFixe margbloc">
                            {{ form_widget(form.telFixe,{'attr':{}}) }}
                            <label for="{{ form.telFixe.vars.id }}"
                            class="{{ form.telFixe.vars.required ? 'required' : '' }} custom_label ">
                            Téléphone fixe
                            </label>
                            <span class="border"></span>
                        </div>
                        <div class="bloc_form telPortable margbloc">
                            {{ form_widget(form.telPortable,{'attr':{}}) }}
                            <label for="{{ form.telPortable.vars.id }}"
                            class="{{ form.telPortable.vars.required ? 'required' : '' }} custom_label ">
                            Numéro du portable
                            </label>
                            <span class="border"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class ="column_2">
                <h4>Mobilité :</h4>
                <div class="block_sub_ mobilite">
                    <div class="box_locomotion">
                        <div class="permis bloc_form">
                            <div class="indice_permisC">
                                {{ form_label(form.permisConduire) }}
                            </div>
                            <div class="detail_permisC">
                                {{ form_widget(form.permisConduire) }}
                            </div>
                        </div>
                        <div class="type bloc_form typePermis margbloc">
                            {{ form_widget(form.typePermisConduire) }}
                            <label for="{{ form.typePermisConduire.vars.id }}"
                            class="{{ form.typePermisConduire.vars.required ? 'required' : '' }} custom_label ">
                            Type de permis?
                            </label>
                            <span class="border"></span>
                        </div>
                    </div>
                    <div class="box_locomotion">
                        <div class="type bloc_form moyenL">
                            <div class="indice_moyenL">
                                <label for="{{ form.moyenLocomotion.vars.id }}"
                                class="{{ form.moyenLocomotion.vars.required ? 'required' : '' }} ">
                                Moy. de transport:
                                </label>
                            </div>
                            <div class="detail_moyenL">
                                <select name="moyenLocomotion"data-width="100%" class="custom_select">
                                    {% for key,val in form.moyenLocomotion.vars.choices %}
                                        <option value="{{ val.value }}" {{  form.moyenLocomotion.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.moyenLocomotion.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                                    {% endfor %}
                                </select>
                                {#{ form_widget(form.moyenLocomotion,{'attr':{'class':'custom_select'}}) }#}
                            </div>
                        </div>
                        <div class="type bloc_form autreM margbloc">
                            {{ form_widget(form.moyenLocomotionAutre) }}
                            <label for="{{ form.moyenLocomotionAutre.vars.id }}"
                            class="{{ form.moyenLocomotionAutre.vars.required ? 'required' : '' }} custom_label ">
                            Autre
                            </label>
                            <span class="border"></span>
                        </div>
                    </div>
                </div>
                <h4>Ressource :</h4>
                <div class="block_sub ressource">
                    <div class="bloc_form box_ressource margbloc">
                        <div class="id">
                            {{ form_widget(form.idPoleEmploi, {'attr':{}}) }}
                            <label for="{{ form.idPoleEmploi.vars.id }}"
                            class="{{ form.idPoleEmploi.vars.required ? 'required' : '' }} custom_label ">
                            Id. Pôle Emploi
                            </label>
                            <span class="border"></span>
                        </div>
                        <div class="referent">
                            {{ form_widget(form.referent, {'attr':{}}) }}
                            <label for="{{ form.referent.vars.id }}"
                            class="{{ form.referent.vars.required ? 'required' : '' }} custom_label ">
                            Référent Pôle Emploi
                            </label>
                            <span class="border"></span>
                        </div>
                    </div>
                    <div class="bloc_form box_ressource">
                        <div class="autorisationTravail inline">
                            <div class="indice_autorisationTr">
                                {{ form_label(form.autorisationTravail) }}
                            </div>
                            <div class="detail_autorisationTr">
                                {{ form_widget(form.autorisationTravail) }}
                            </div>
                        </div>
                        <div class="rqth">
                            <div class="indice_rqth">
                                {{ form_label(form.rqth) }}
                            </div>
                            <div class="detail_rqth">
                                {{ form_widget(form.rqth) }}
                            </div>
                        </div>
                    </div>
                    <div class="bloc_form box_ressource">
                        <div class="alloc">
                            <div class="incide_allo">
                                <label for="{{ form.allocation.vars.id }}"
                                class="{{ form.allocation.vars.required ? 'required' : '' }} ">
                                Allocation:
                                </label>
                            </div>
                            <div class="detail_allo">
                                <select name="allocation"data-width="100%" class="custom_select">
                                    {% for key,val in form.allocation.vars.choices %}
                                        <option value="{{ val.value }}" {{  form.allocation.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.allocation.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                                    {% endfor %}
                                </select>
                                {#{ form_widget(form.allocation,{'attr': {'class':'custom_select'}}) }#}
                            </div>
                        </div>
                        <div class="allocAutre margbloc">
                            {{ form_widget(form.allocationAutre, {'attr':{}}) }}
                            <label for="{{ form.allocationAutre.vars.id }}"
                            class="{{ form.allocationAutre.vars.required ? 'required' : '' }} custom_label ">
                            Autre allocation
                            </label>
                            <span class="border"></span>
                        </div>
                    </div>
                    <div class="bloc_form box_ressource">
                        <div class="structure margbloc">
                            {{ form_widget(form.structure, {'attr':{}}) }}
                            <label for="{{ form.structure.vars.id }}"
                            class="{{ form.structure.vars.required ? 'required' : '' }} custom_label ">
                            Structure
                            </label>
                            <span class="border"></span>
                        </div>
                        <div class="metier margbloc">
                            {{ form_widget(form.metier, {'attr':{}}) }}
                            <label for="{{ form.metier.vars.id }}"
                            class="{{ form.metier.vars.required ? 'required' : '' }} custom_label ">
                            Métier
                            </label>
                            <span class="border"></span>
                        </div>
                    </div>
                </div>
                <h4>Formations :</h4>
                <div class="block formation">
                    <div class="block_sub">
                        <div class="niveau bloc_form ">
                            <div class="indice_niv font-size: 14px">
                                <label for="{{ form.niveauEtude.vars.id }}"
                                class="{{ form.niveauEtude.vars.required ? 'required' : '' }} nivEtlabel">
                                Niv. d’étude:
                                </label>
                            </div>
                            <div class="detail_niv">
                                <select name="niveauEtude"data-width="100%" class="custom_select">
                                    {% for key,val in form.niveauEtude.vars.choices %}
                                        <option value="{{ val.value }}" {{  form.niveauEtude.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.niveauEtude.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                                    {% endfor %}
                                </select>
                                {#{ form_widget(form.niveauEtude,{'attr': {'class':'custom_select'}})}#}
                            </div>
                        </div>

                        <div class="cat_socio bloc_form">
                            <div class="indice_cat_socio">
                                <label for="{{ form.categorieSocioPro.vars.id }}"
                                class="{{ form.categorieSocioPro.vars.required ? 'required' : '' }} cpslabel">
                                CSP:
                                </label>
                            </div>
                            <div class="detail_cat_socio">
                                <select name="categorieSocioPro"data-width="100%" class="custom_select">
                                    {% for key,val in form.categorieSocioPro.vars.choices %}
                                        <option value="{{ val.value }}" {{  form.categorieSocioPro.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.categorieSocioPro.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                                    {% endfor %}
                                </select>
                                {#{ form_widget(form.categorieSocioPro,{'attr': {'class':'custom_select'}})}#}
                            </div>
                        </div>

                        <div class="diplome bloc_form margbloc">
                            {{ form_widget(form.diplomePro)}}
                            <label for="{{ form.diplomePro.vars.id }}"
                            class="{{ form.diplomePro.vars.required ? 'required' : '' }} custom_label ">
                            Diplôme professionel
                            </label>
                            <span class="border"></span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#step_two" class="btnFormNext">
                <span>Étape suivante</span>
            </a>
        </section>
        <section id="step_two">
            <div class="inner_section">
                <div class="content">
                    <div class="block_doc bloc_form">
                        {{ form_widget(form.imageFile, {'attr':{'class': 'inputfile'}})}}
                        <label for="">Document à télécharger</label>
                    </div>
                    <div class="block_compte_rendu shadow">
                        <div class="bloc1">
                            <span>Compte Rendu:</span>
                        </div>
                        <div class="bloc2">
                            {{ form_widget(form.description) }}
                        </div>
                    </div>
                    <div class="block_btn">
                        <div class="inner_block_btn">
                            <a href="{{ path('demandeur_index') }}" class="btn_back">
                                <span>Retour à la liste</span>
                            </a>
                            <div class='btn_create'>
                                <input type="submit" value="Create"/>
                            </div>
                        </div>
                    </div>
                    <div class="link_back">
                        <a href="#step_one" class="btnFormBack">
                            <span>Étape précédent</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    {{ form_end(form) }}
{% endblock %}
