{% extends 'FOSUserBundle::layout.html.twig' %}

{% block job_hunter %}
    {{ form_start(form, {'attr': {"class": "register_flux", 'ng-controller':'effect' }}) }}
        <h1 style='display: none'>Demandeur creation</h1>
        <div class="column_1 ">
          <div class="block action">
            <div class="">
              {{ form_label(form.status)}}
              {{ form_widget(form.status)}}
            </div>
          </div>
          <div class="block etat_civil">
            <div class="block_sub">
              <div class="bloc_form genre">
                {{ form_label(form.genre) }}
                {{ form_widget(form.genre,{ 'attr': {'placeholder': "Nom", "class": ""}}) }}
              </div>
              <div class="bloc_form nom">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom,{ 'attr': {'placeholder': "Nom", "class": "testez"}}) }}
              </div>
              <div class="bloc_form prenom">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom,{ 'attr': {'placeholder': "Prenom", class:''}}) }}
              </div>
            </div>
            <div class="block_sub">
              <div class="bloc_form naissance">
                {{ form_label(form.dateNaissance) }}
                {{ form_widget(form.dateNaissance,{ 'attr': {'placeholder': "dze"}}) }}
              </div>
              <div class="bloc_form villeN">
                {{ form_label(form.villeNaissance) }}
                {{ form_widget(form.villeNaissance,{ 'attr': {'placeholder': "Ville de naissance"}}) }}
              </div>
              <div class="bloc_form paysN">
                {{ form_label(form.paysNaissance) }}
                {{ form_widget(form.paysNaissance,{ 'attr': {'placeholder': "Pays de Naissance"}}) }}
              </div>
              <div class="bloc_form deptNaissance">
                {{ form_label(form.deptNaissance) }}
                {{ form_widget(form.deptNaissance,{ 'attr': {'placeholder': "Département"}}) }}
              </div>
              <div class="bloc_form nationalite">
                {{ form_label(form.nationalite) }}
                {{ form_widget(form.nationalite,{ 'attr': {'placeholder': "Nationalité"}}) }}
              </div>
              <div class="bloc_form titreSejour">
                {{ form_label(form.titreSejour) }}
                {{ form_widget(form.titreSejour,{ 'attr': {'placeholder': "Nationalité"}}) }}
              </div>
            </div>
          </div>
          <div class="block coordonne">
            <div class="block_sub">
              <div class="bloc_form adresse">
                {{ form_label(form.email) }}
                {{ form_widget(form.email,{'attr':{'placeholder': "Email"}}) }}
              </div>
              <div class="adresse">
                <div class="bloc_form qpv">
                  {{ form_label(form.QPV) }}
                  {{ form_widget(form.QPV,{'attr':{'class': 'red'}}) }}
                </div>
                <div class="bloc_form qpvnom" >
                  {{ form_label(form.QPVNom) }}
                  {{ form_widget(form.QPVNom,{'attr':{'placeholder': "Quatier"}}) }}
                </div>
              </div>
              <div class="bloc_form adresse">
                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse,{'attr':{'placeholder': "Adresse"}}) }}
              </div>
              <div class="bloc_form codePostal">
                {{ form_label(form.codePostal) }}
                {{ form_widget(form.codePostal,{'attr':{}}) }}
              </div>
              <div class="bloc_form ville">
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville,{'attr':{'placeholder': "Adresse"}}) }}
              </div>
              <div class="bloc_form telFixe">
                {{ form_label(form.telFixe) }}
                {{ form_widget(form.telFixe,{'attr':{'placeholder': "Numéro du fixe"}}) }}
              </div>
              <div class="bloc_form telPortable">
                {{ form_label(form.telPortable) }}
                {{ form_widget(form.telPortable,{'attr':{'placeholder': "Numéro du portable"}}) }}
              </div>
            </div>
          </div>
          <div class="duo">
            <div class="" style="display: flex; flex-direction: row;">
              <div class="block_sub_ mobilite">
                <div class="permis bloc_form">
                  {{ form_label(form.permisConduire) }}
                  {{ form_widget(form.permisConduire) }}
                </div>
                <div class="type bloc_form">
                  {{ form_label(form.typePermisConduire) }}
                  {{ form_widget(form.typePermisConduire) }}
                </div>
                <div class="type bloc_form">
                  {{ form_label(form.moyenLocomotion) }}
                  {{ form_widget(form.moyenLocomotion) }}
                </div>
              </div>
              <div class="block_sub ressource">
                <div class="id">
                  {{ form_label(form.idPoleEmploi) }}
                  {{ form_widget(form.idPoleEmploi, {'attr': {'placeholder': 'Identifiant Pôle Emploi'}}) }}
                </div>
                <div class="referent">
                  <span class="full">Référent</span>
                  {{ form_widget(form.referent) }}
                </div>
                <div class="alloc">
                  {{ form_label(form.allocation) }}
                  {{ form_widget(form.allocation) }}
                </div>
                <div class="rqth">
                  {{ form_label(form.rqth) }}
                  {{ form_widget(form.rqth) }}
                </div>
              </div>
            </div>
          </div>
          <div class="block formation">
            <div class="block_sub">
              <div class="niveau">
                <span class="custom_label">Niveau d’étude :</span>
                {{ form_widget(form.niveauEtude)}}
              </div>
              <div class="diplome">
                {{ form_label(form.diplomePro)}}
                {{ form_widget(form.diplomePro)}}
              </div>
              <div class="cat_socio">
                <span class="custom_label">Catégorie socioprofessionnelle :</span>
                {{ form_widget(form.categorieSocioPro)}}
              </div>
            </div>
          </div>
        </div>
        <div class ="column_2">
          <div class="block_doc block_sub">
              {{ form_widget(form.imageFile)}}
          </div>
          <div class="block_compte_rendu block_sub">
              <div class="bloc_description">
                <div class="">
                  <span class="full">Compte Rendu</span>
                  {{ form_widget(form.description) }}
                </div>
              </div>
          </div>
          <div class="">
          </div>

          <ul>
              <li>
                  <a href="{{ path('demandeur_index') }}">Retour à la liste</a>
              </li>
          </ul>
          <input type="submit" value="Create" />
        </div>

    {{ form_end(form) }}
{% endblock %}
