{% trans_default_domain 'FOSUserBundle' %}
<section id="login_session">
  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <div class="container_login">
    <div class="welcome_login">
      <div class="message">
        <span> Bienvenue sur:</span>
        <div class="brand_app">
          <p class="brand">interFace</p>
        </div>
        <div class="logo_face"></div>
      </div>
    </div>
    <div class="form_login">
      <form action="{{ path("fos_user_security_check") }}" method="post">
          {% if csrf_token %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %}
          <div class="box_form_input_login margbloc">
              <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
              <label for="username" class="custom_label">Adresse E-mail</label>
              <span class="border_login"></span>
          </div>

          <div class="box_form_input_login">
              <input type="password" id="password" name="_password" required="required" />
              <label for="password" class="custom_label">{{ 'security.login.password'|trans }}</label>
              <span class="border_login"></span>
          </div>

          <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

          <!-- <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
          <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label> -->
          <div class="forget_link">
            <a class="forget" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
          </div>
      </form>
    </div>
  </div>
</section>
